<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard: <%= card.question %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/cards/<%= card._id %>?_method=PUT" method="POST">
    <h2> Edit Flash Card</h2>

    <label for="title" >Title: </label>
    <input type="text" id="title" name="title" value="<%= card.title %>" required>
    <br>

    <label for="question" >Question: </label>
    <input type="text" id="question" name="question" value="<%= card.question %>" required>
    <br>

    <label for="answer">Answer: </label>
    <input type="text" id="answer" name="answer"value="<%=card.answer%>" required>
    <br>

    <label for="picture">Image Upload: </label>
    <input type="text" id="picture" name="picture" value="<%=card.picture%>" >
    <br>

    <button type="submit">save Change</button>
</form> 
   
</body>
</html>